body{
    margin: 0;
}
#background{
    position: absolute;
    width: 100%;
    height: 100%;          
    background-image: url(../BootCamp-2020/webbackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.headerwrap{
    background-color: rgba(98, 98, 124, 30);
    width: 500px; height: 600px;
}

h1{
    color: white;
}
