body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    line-height: 26px;
}

#cabecera{
    color: white;
    background-color: rgb(103, 184, 92);
    border-radius: 6pt;   
}
#listadoestilos{
        width: 200px;
        float: left
}
ul{
    position: relative; 
    float: left;
    list-style-type: none;
    margin: 20px;
}
li{
    width: 200px;
    padding: 5px;
    line-height: 20px;
    margin: 3px;
    background: rgb(212, 212, 212);
    border: solid; border-radius: 6pt; border-width: 1pt; border-color: grey;
    position: relative; right: 50px; bottom: 30px;
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
}
#cuerpo{
    padding: 10px;
    margin: 0 210px;
    
}
#barralateral{
    color: white;
    border-radius: 6pt;
    background-color: rgb(59, 157, 202);
    width: 180px;
    height: 340px;
    padding: 10px;
    position: absolute; right: 0; top: 0px; bottom: 0;

}
#piedepagina{
    font-size: 70%;
    background-color: rgb(228, 228, 228);
    padding: 7px;
    text-align: center;
    line-height: 15px;



    
}
